<div class="container">
  <div class="header">
    <div class="input-group">
      <label>SERVIÇO</label>
      <input type="text" placeholder="Nome do Serviço" />
    </div>
    <div class="input-group">
      <label>DATA DE ABERTURA</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>RENACH</label>
      <input type="text" placeholder="XXXXXXXXXX" />
    </div>
    <div class="input-group">
      <label>EXAME</label>
      <input type="text" placeholder="00" />
    </div>
    <div class="input-group">
      <label>CATEGORIAL ATUAL</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>RESTRIÇÕES CNH ANTERIOR</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>Nome do Candidato</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>Data de Nascimento</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>CPF</label>
      <input type="text" placeholder="000.000.000-00" />
    </div>
    <div class="input-group">
      <label>Categoria Pretendida</label>
      <input type="text" placeholder="AB - CAT CARRO E M" />
    </div>
    <div class="input-group">
      <label>Atividade Remunerada</label>
      <div class="buttons-group">
        <button>Sim</button>
        <button>Não</button>
      </div>
    </div>
  </div>

  <div class="footer">
    <button class="button red">Sair</button>
    <button class="button green">Transmitir</button>
    <button class="button blue">Fechar</button>
  </div>
</div>
