<div class="container">
  <div class="header">
    <div class="input-group">
      <label>SERVIÇO</label>
      <input type="text" placeholder="Nome do Serviço" />
    </div>
    <div class="input-group">
      <label>DATA DE ABERTURA</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>RENACH</label>
      <input type="text" placeholder="XXXXXXXXXX" />
    </div>
    <div class="input-group">
      <label>EXAME</label>
      <input type="text" placeholder="00" />
    </div>
    <div class="input-group">
      <label>CATEGORIAL ATUAL</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>RESTRIÇÕES CNH ANTERIOR</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>Nome do Candidato</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>Data de Nascimento</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>CPF</label>
      <input type="text" placeholder="000.000.000-00" />
    </div>
    <div class="input-group">
      <label>Categoria Pretendida</label>
      <input type="text" placeholder="AB - CAT CARRO E M" />
    </div>
    <div class="input-group">
      <label>Atividade Remunerada</label>
      <div class="buttons-group">
        <button>Sim</button>
        <button>Não</button>
      </div>
    </div>
  </div>

  <div class="info-section">
    <!-- Seção Acuidade Visual -->
    <div class="section visual-acuity">
      <h3>ACUIDADE VISUAL</h3>
      <div class="input-row">
        <div class="input-label">
          <label>SEM CORREÇÃO OD</label>
          <input type="text" placeholder="500" />
        </div>
        <div class="input-label">
          <label>SEM CORREÇÃO OD</label>
          <input type="text" placeholder="Nome do Serviço" />
        </div>
      </div>
      <div class="input-row">
        <div class="input-label">
          <label>COM CORREÇÃO OD</label>
          <input type="text" placeholder="500" />
        </div>
        <div class="input-label">
          <label>COM CORREÇÃO OE</label>
          <input type="text" placeholder="Nome do Serviço" />
        </div>
      </div>
      <h3>CAMPO DE VISÃO</h3>
      <div class="input-row">
        <div class="input-label">
          <label>OLHO DIREITO</label>
          <input type="text" placeholder="500" />
        </div>
        <div class="input-label">
          <label>OLHO ESQUERDO</label>
          <input type="text" placeholder="Nome do Serviço" />
        </div>
      </div>
      <div class="input-row">
        <div class="input-label">
          <label>PERIMETRIA ISOPTERA HOR OE</label>
          <input type="text" placeholder="500" />
        </div>
        <div class="input-label">
          <label>PERIMETRIA ISOPTERA HOR OD</label>
          <input type="text" placeholder="Nome do Serviço" />
        </div>
      </div>
      <div class="input-label">
        <label>V. BINOCULAR</label>
        <input type="text" placeholder="Nome do Serviço" />
      </div>
      <div class="input-row-buttons">
        <div class="input-label">
          <label>ESTRABISMO</label>
          <div class="section-buttons">
            <button class="sim">SIM</button>
            <button class="nao">NÃO</button>
          </div>
        </div>
        <div class="input-label">
          <label>DALTÔNICO</label>
          <div class="section-buttons">
            <button class="sim">SIM</button>
            <button class="nao">NÃO</button>
          </div>
        </div>
      </div>
      <div class="input-row-buttons">
        <div class="input-label">
          <label>V.CROMÁTICA</label>
          <div class="section-buttons">
            <button class="sim">SIM</button>
            <button class="nao">NÃO</button>
          </div>
        </div>
        <div class="input-label">
          <label>PERCEPÇÃO LUMINOSA</label>
          <div class="section-buttons">
            <button class="sim">SIM</button>
            <button class="nao">NÃO</button>
          </div>
        </div>
      </div>
      <div class="input-row-buttons">
        <div class="input-label">
          <label>V. ESTEREOSCOPIA</label>
          <div class="section-buttons">
            <button class="sim">SIM</button>
            <button class="nao">NÃO</button>
          </div>
        </div>
        <div class="input-label">
          <label>OFUSCAMENTO | V. NOTURNA</label>
          <div class="section-buttons">
            <button class="sim">SIM</button>
            <button class="nao">NÃO</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Seção Avaliações Médicas -->
    <div class="section-column">
      <div class="div-avaliacoes">
        <img
          src="../../../assets/Group 632.png"
          class="icon-img"
          alt="Otorrinolaringologista"
        />
        <h3>OTORRINOLARINGOLOGISTA</h3>
        <input class="field-input" placeholder="Sem alteração" />
      </div>
      <div class="div-avaliacoes">
        <img src="../../../assets/Group.png" alt="" class="icon-img" />
        <h3>AVALIAÇÃO NEUROLÓGICA</h3>
        <input class="field-input" placeholder="Sem alteração" />
      </div>
      <div class="div-avaliacoes">
        <img src="../../../assets/Group 635.png" alt="" class="icon-img" />
        <h3>DISTÚRBIO DO SONO</h3>
        <input class="field-input" placeholder="Sem alteração" />
      </div>
      <div class="restricoes">RESTRIÇÕES</div>
    </div>

    <!-- Seção Avaliação Física -->
    <div class="section-column">
      <div class="forca-manual">
        <img
          src="../../../assets/Group (1).png"
          alt=""
          class="icon-img-forca"
        />
        <h3>AVALIAÇÃO FORÇA MANUAL</h3>
        <input class="field-input" placeholder="Campo para preenchimento" />
        <div class="row-forca-manual">
          <div class="input-label">
            <label>FORÇA MANUAL D</label>
            <input type="text" placeholder="00" class="input-small" />
          </div>
          <div class="input-label">
            <label>FORÇA MANUAL E</label>
            <input type="text" placeholder="00" class="input-small" />
          </div>
        </div>
      </div>
      <div class="forca-manual">
        <img
          src="../../../assets/Group (2).png"
          alt=""
          class="icon-img-forca"
        />
        <h3>PRESSÃO ARTERIAL</h3>
        <div class="input-label">
          <label>FREQUÊNCIA CARDÍACA</label>
          <input type="text" placeholder="00" class="input-small" />
        </div>
        <h3 style="margin-top: 0.8rem">AVALIAÇÃO CARIORESPIRATORIA</h3>
        <input class="field-input" placeholder="Campo para preenchimento" />
      </div>
    </div>
  </div>

  <!-- Seção Informações Adicionais -->
  <div class="section-column">
    <div class="data">
      <input type="text" />
    </div>

    <div class="section-pericia"></div>

    <div class="observacoes-medicas"></div>
  </div>

  <div class="footer">
    <button class="button red">Sair</button>
    <button class="button green">Transmitir</button>
    <button class="button blue">Fechar</button>
  </div>
</div>
