<div class="container">
  <div class="header">
    <div class="input-group">
      <label>SERVIÇO</label>
      <input type="text" placeholder="Nome do Serviço" />
    </div>
    <div class="input-group">
      <label>DATA DE ABERTURA</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>RENACH</label>
      <input type="text" placeholder="XXXXXXXXXX" />
    </div>
    <div class="input-group">
      <label>EXAME</label>
      <input type="text" placeholder="00" />
    </div>
    <div class="input-group">
      <label>CATEGORIAL ATUAL</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>RESTRIÇÕES CNH ANTERIOR</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>NOME DO CANDIDATO</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>DATA NASCIMENTO</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>CPF</label>
      <input type="text" placeholder="000.000.000-00" />
    </div>
    <div class="input-group">
      <label>CATEGORIA PRETENDIDA</label>
      <input type="text" placeholder="AB - CAT CARRO E M" />
    </div>
    <div class="input-group">
      <label>ATIVIDADE REMUNERADA</label>
      <div class="buttons-group">
        <button>Sim</button>
        <button>Não</button>
      </div>
    </div>
  </div>
  <div class="header-2">
    <div class="input-group">
      <label>SERVIÇO</label>
      <input type="text" placeholder="Nome do Serviço" />
    </div>
    <div class="input-group">
      <label>DATA DE ABERTURA</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>RENACH</label>
      <input type="text" placeholder="XXXXXXXXXX" />
    </div>
    <div class="input-group">
      <label>EXAME</label>
      <input type="text" placeholder="00" />
    </div>
    <div class="input-group">
      <label>CATEGORIAL ATUAL</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>RESTRIÇÕES CNH ANTERIOR</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>NOME DO CANDIDATO</label>
      <input type="text" placeholder="Nome completo do paciente" />
    </div>
    <div class="input-group">
      <label>DATA NASCIMENTO</label>
      <input type="date" />
    </div>
    <div class="input-group">
      <label>CPF</label>
      <input type="text" placeholder="000.000.000-00" />
    </div>
    <div class="input-group">
      <label>CATEGORIA PRETENDIDA</label>
      <input type="text" placeholder="AB - CAT CARRO E M" />
    </div>
    <div class="input-group">
      <label>ATIVIDADE REMUNERADA</label>
      <div class="buttons-group">
        <button>Sim</button>
        <button>Não</button>
      </div>
    </div>
  </div>

  <div class="reconhecimento-biometrico">
    <h4>RECONHECIMENTO BIOMÉTRICO / FACIAL</h4>
    <div class="section-row-radio">
      <div class="div-radio">
        <input type="radio" />
        <span>VALIDAÇÃO FACIAL</span>
      </div>
      <div class="div-radio">
        <input type="radio" />
        <span>VALIDAÇÃO FACIAL</span>
      </div>
    </div>
    <div class="button-group">
      <button class="psicologo">PSICÓLOGO</button>
      <button class="candidato">CANDIDATO</button>
    </div>
  </div>
  <div class="footer">
    <button class="sair">SAIR</button>
    <button class="salvar">SALVAR</button>
    <button class="finalizar">FINALIZAR ATENDIMENTO</button>
  </div>
</div>
